.modal {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;

    .dialogue {
        border-radius: 15px;
        position: fixed;
        bottom: 7%;
        left: 50%;
        transform: translateX(-50%);
        background-color: white;

        .close {
            position: absolute;
            top: 10px;
            right: 10px;
            background-color: rgb(42, 76, 199);

            button {    
                color: white;
            }
        }
        
        .info {
            padding: 20px;

            h2 {
                padding: 0;
                margin: 0;
                margin-bottom: 10px;
                color: #333333;
                font-size: 16px;
            }

            .buttons {
                display: flex;
                gap: 20px;

                button {
                    border-radius: 15px;
                    border: none;
                    padding: 10px;
                    width: 100%;
                    transition: .2s linear;
                    background: #4284f5;

                    color: white;
                    font-size: 16px;
                    font-weight: 700;
                }
                button:hover {
                    box-shadow: 0 0 0 2px white, 0 0 0 4px #3C82F8;
                }
            }
        }
        
    }
}

.setShow {
    animation: show 1s ease-in-out forwards;
}
.setHide {
    animation: hide 1s ease-in-out forwards;
}

@keyframes show {
    0% {
      bottom: -10%;
      opacity: 0%;
    }
    100% {
        bottom: 7%;
        opacity: 100%;
    }
  }

@keyframes hide {
0% {
    bottom: 7%;
    opacity: 100%;
}
100% {
    bottom: -10%;
    opacity: 0%;
}
}