.header2 {
    background-color: rgb(43, 123, 59);

    display: flex;
    justify-content: space-between;
    padding: 10px 100px;
    gap: 100px;

    .givenCards {

        display: flex;
        max-width: 300px;
        width: 100%;
        justify-content: space-between;
        gap: 10px;

        .cardButton {
            width: 90px;
            height: 130px;
            pointer-events: none;
            user-select: none; /* Safari */
            -webkit-user-select: none; /* Chrome all / Safari all */
            -moz-user-select: none; /* Firefox all */
            -ms-user-select: none; /* IE 10+ */
        }

        .list {
            display: flex;
        }
    }

    .cardState {
        max-width: 900px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        gap: 10px;

        

        img {
            width: 90px;
            height: 130px;
            pointer-events: none;
            user-select: none; /* Safari */
            -webkit-user-select: none; /* Chrome all / Safari all */
            -moz-user-select: none; /* Firefox all */
            -ms-user-select: none; /* IE 10+ */
        }

        .card {
    
            background-color: white;
        
            box-shadow: 0 0 2px rgb(0, 0, 0);;
        
            width: 90px;
            height: 130px;
        
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
        
            border-radius: 5%;
        
            position: relative;
        
        
            img {
                pointer-events: none;
                user-select: none; /* Safari */
                -webkit-user-select: none; /* Chrome all / Safari all */
                -moz-user-select: none; /* Firefox all */
                -ms-user-select: none; /* IE 10+ */
                width: 70px;
                height: 75px;
            }
        
            &_detail {
                
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-around;
        
                h4 {
                    pointer-events: none;
                    user-select: none; /* Safari */
                    -webkit-user-select: none; /* Chrome all / Safari all */
                    -moz-user-select: none; /* Firefox all */
                    -ms-user-select: none; /* IE 10+ */
                    color: black;
                    font-size:35px;
                    font-weight:bold;
                    margin: 0;
                }
                img {
                    pointer-events: none;
                    user-select: none; /* Safari */
                    -webkit-user-select: none; /* Chrome all / Safari all */
                    -moz-user-select: none; /* Firefox all */
                    -ms-user-select: none; /* IE 10+ */
                    width: 30px;
                    height: 30px;
                }
            }
            .fakecard {
                pointer-events: none;
                user-select: none; /* Safari */
                -webkit-user-select: none; /* Chrome all / Safari all */
                -moz-user-select: none; /* Firefox all */
                -ms-user-select: none; /* IE 10+ */
                position: relative;
                width: 90px;
                height: 130px;
            }
        }
    }
}

$tablet: 1023px;
$mobile: 767px;
$mobile-s: 480px;


@media (max-width: $tablet) {
    .header2 {
        .givenCards {
            .cardButton {
                width: 70px;
                height: 100px;
            }
        }

        .cardState {
            img {
                width: 70px;
                height: 100px;
            }
            .card {
                width: 70px;
                height: 100px;
        
                img {
                        width: 57px;
                        height: 62px;
                }
            
                &_detail {
            
                    h4 {
                        font-size:28px;
                    }
                    img {
                        width: 23px;
                        height: 23px;
                    }
                }
        
                .fakecard {
                    width: 70px;
                    height: 100px;  
                }
            }
        }
    }
    
    
}

@media (max-width: $mobile) {
    .header2 {

        padding: 10px 10px;
        gap: 80px;

        .givenCards {
            .cardButton {
                width: 40px;
                height: 60px;
            }
        }

        .cardState {
            img {
                width: 40px;
                height: 60px;
            }
            .card {
                width: 40px;
                height: 60px;
        
                img {
                        width: 32px;
                        height: 35px;
                }
            
                &_detail {
            
                    h4 {
                        font-size:18px;
                    }
                    img {
                        width: 16px;
                        height: 16px;
                    }
                }
        
                .fakecard {
                    width: 40px;
                    height: 60px;
                }
            }
        }
    }
}
