.header2 {
    background-color: rgb(43, 123, 59);

    display: flex;
    justify-content: space-between;
    padding: 10px 100px;
    gap: 100px;

    .givenCards {
        position: relative;
        display: flex;
        max-width: 400px;
        width: 100%;
        justify-content: space-between;
        gap: 50px;

        .cardButton {
            position: relative;
            z-index: 10;
            width: 90px;
            height: 130px;
            pointer-events: none;
            user-select: none; /* Safari */
            -webkit-user-select: none; /* Chrome all / Safari all */
            -moz-user-select: none; /* Firefox all */
            -ms-user-select: none; /* IE 10+ */
        }

        .list {
            display: flex;
            position: relative;
        }
    }

    .cardState {
        max-width: 900px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        gap: 0px;

        

        img {
            width: 90px;
            height: 130px;
            pointer-events: none;
            user-select: none; /* Safari */
            -webkit-user-select: none; /* Chrome all / Safari all */
            -moz-user-select: none; /* Firefox all */
            -ms-user-select: none; /* IE 10+ */
        }

        .card {
    
            background-color: white;
        
            position: relative;

            box-shadow: 0 0 2px rgb(0, 0, 0);;
        
            width: 90px;
            height: 130px;
        
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
        
            border-radius: 5%;
        
            position: relative;
        
        
            img {
                pointer-events: none;
                user-select: none; /* Safari */
                -webkit-user-select: none; /* Chrome all / Safari all */
                -moz-user-select: none; /* Firefox all */
                -ms-user-select: none; /* IE 10+ */
                width: 70px;
                height: 75px;
            }
        
            &_detail {
                
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-around;
        
                h4 {
                    pointer-events: none;
                    user-select: none; /* Safari */
                    -webkit-user-select: none; /* Chrome all / Safari all */
                    -moz-user-select: none; /* Firefox all */
                    -ms-user-select: none; /* IE 10+ */
                    color: black;
                    font-size:35px;
                    font-weight:bold;
                    margin: 0;
                }
                img {
                    pointer-events: none;
                    user-select: none; /* Safari */
                    -webkit-user-select: none; /* Chrome all / Safari all */
                    -moz-user-select: none; /* Firefox all */
                    -ms-user-select: none; /* IE 10+ */
                    width: 30px;
                    height: 30px;
                }
            }
            .fakecard {
                pointer-events: none;
                user-select: none; /* Safari */
                -webkit-user-select: none; /* Chrome all / Safari all */
                -moz-user-select: none; /* Firefox all */
                -ms-user-select: none; /* IE 10+ */
                position: relative;
                width: 90px;
                height: 130px;
            }
        }
    }
}

.setShow0 {
    animation: show0 0.5s ease-in-out forwards;
}
.setShow50 {
    animation: show50 0.5s ease-in-out forwards;
}
.setShow100 {
    animation: show100 0.5s ease-in-out forwards;
}

@keyframes show0 {
    0% {
      transform:translateX(-309px);
      opacity: 100%;
    }
    100% {
        transform: translateX(-50px);
        opacity: 100%;
    }
  }
@keyframes show50 {
    0% {
      transform:translateX(40px);
    }
    100% {
        transform: translateX(0px);
    }
  }
  @keyframes show100 {
    0% {
      transform:translateX(90px);
    }
    100% {
        transform: translateX(50px);
    }
  }

  @keyframes lshow0 {
    0% {
      transform:translateX(-305px);
      opacity: 100%;
    }
    100% {
        transform: translateX(-40px);
        opacity: 100%;
    }
  }
@keyframes lshow50 {
    0% {
      transform:translateX(30px);
    }
    100% {
        transform: translateX(0px);
    }
  }
  @keyframes lshow100 {
    0% {
      transform:translateX(70px);
    }
    100% {
        transform: translateX(40px);
    }
  }
  @keyframes mshow0 {
    0% {
      transform:translateX(-145px);
      opacity: 100%;
    }
    100% {
        transform: translateX(-22px);
        opacity: 100%;
    }
  }
@keyframes mshow50 {
    0% {
      transform:translateX(18px);
    }
    100% {
        transform: translateX(0px);
    }
  }
  @keyframes mshow100 {
    0% {
      transform:translateX(40px);
    }
    100% {
        transform: translateX(22px);
    }
  }


  

  .setShow0h {
    animation: show0h 0.5s ease-in-out forwards;
}
.setShow50h {
    animation: show50h 0.5s ease-in-out forwards;
}
.setShow100h {
    animation: show100h 0.5s ease-in-out forwards;
}

@keyframes show0h {
    0% {
      transform:translateX(-309px);
      opacity: 100%;
    }
    100% {
        transform: translateX(-50px);
        opacity: 100%;
    }
  }
@keyframes show50h {
    0% {
      transform:translateX(-219px);
    }
    100% {
        transform: translateX(0px);
    }
  }
  @keyframes show100h {
    0% {
      transform:translateX(-129px);
    }
    100% {
        transform: translateX(50px);
    }
  }

  @keyframes lshow0h {
    0% {
      transform:translateX(-305px);
      opacity: 100%;
    }
    100% {
        transform: translateX(-40px);
        opacity: 100%;
    }
  }
@keyframes lshow50h {
    0% {
      transform:translateX(-235px);
    }
    100% {
        transform: translateX(0px);
    }
  }
  @keyframes lshow100h {
    0% {
      transform:translateX(-165px);
    }
    100% {
        transform: translateX(40px);
    }
  }
  @keyframes mshow0h {
    0% {
      transform:translateX(-145px);
      opacity: 100%;
    }
    100% {
        transform: translateX(-22px);
        opacity: 100%;
    }
  }
@keyframes mshow50h {
    0% {
      transform:translateX(-105px);
    }
    100% {
        transform: translateX(0px);
    }
  }
  @keyframes mshow100h {
    0% {
      transform:translateX(-65px);
    }
    100% {
        transform: translateX(22px);
    }
  }

// @keyframes show100 {
// 0% {
//     transform:translateX(-400px);
//     opacity: 0%;
// }
// 100% {
//     transform: translateX(-100px);
//     opacity: 100%;
// }
// }
$tablet: 1023px;
$mobile: 767px;
$mobile-s: 480px;


@media (max-width: $tablet) {

    .setShow0 {
        animation: lshow0 0.5s ease-in-out forwards;
    }
    .setShow50 {
        animation: lshow50 0.5s ease-in-out forwards;
    }
    .setShow100 {
        animation: lshow100 0.5s ease-in-out forwards;
    }

    .setShow0h {
        animation: lshow0h 0.5s ease-in-out forwards;
    }
    .setShow50h {
        animation: lshow50h 0.5s ease-in-out forwards;
    }
    .setShow100h {
        animation: lshow100h 0.5s ease-in-out forwards;
    }

    .header2 {
        padding: 10px 10px;
        gap: 0px;

        .givenCards {
            .cardButton {
                width: 70px;
                height: 100px;
            }
        }

        .cardState {
            img {
                width: 70px;
                height: 100px;
            }
            .card {
                width: 70px;
                height: 100px;
        
                img {
                        width: 57px;
                        height: 62px;
                }
            
                &_detail {
            
                    h4 {
                        font-size:28px;
                    }
                    img {
                        width: 23px;
                        height: 23px;
                    }
                }
        
                .fakecard {
                    width: 70px;
                    height: 100px;  
                }
            }
        }
    }
    
    
}

@media (max-width: $mobile) {

    .setShow0 {
        animation: mshow0 0.5s ease-in-out forwards;
    }
    .setShow50 {
        animation: mshow50 0.5s ease-in-out forwards;
    }
    .setShow100 {
        animation: mshow100 0.5s ease-in-out forwards;
    }
    .setShow0h {
        animation: mshow0h 0.5s ease-in-out forwards;
    }
    .setShow50h {
        animation: mshow50h 0.5s ease-in-out forwards;
    }
    .setShow100h {
        animation: mshow100h 0.5s ease-in-out forwards;
    }

    .header2 {

        padding: 10px 10px;
        gap: 0px;

        .givenCards {
            gap: 0px;
            .cardButton {
                width: 40px;
                height: 60px;
            }
        }

        .cardState {
            img {
                width: 40px;
                height: 60px;
            }
            .card {
                width: 40px;
                height: 60px;
        
                img {
                        width: 32px;
                        height: 35px;
                }
            
                &_detail {
            
                    h4 {
                        font-size:18px;
                    }
                    img {
                        width: 16px;
                        height: 16px;
                    }
                }
        
                .fakecard {
                    width: 40px;
                    height: 60px;
                }
            }
        }
    }
}
