.cardlist {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    padding: 30px 100px;
    justify-content: space-between;

}
.blur {
    z-index: 100;
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(10px);

    .loading {

        width: 400px;
        height: 200px;

        h2 {
            margin-top: 0;
            font-size: 60px;
            text-shadow: 1px 5px 3px rgb(0, 0, 0);
        }
    }
}

$tablet: 1023px;
$mobile: 767px;
$mobile-s: 480px;

@media (max-width: $tablet) {
    .cardlist {
        padding: 30px 30px;
        gap: 0px;
    }

}
@media (max-width: $mobile-s) {
    .cardlist {
        padding: 20px 10px;
        gap: 0px;
    }

}